@import "tailwindcss";

/* Evita overflow horizontal */
html, body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  
  /* Garante que inputs/buttons sejam tocáveis */
  input, button, a {
    min-height: 48px; /* Tamanho mínimo recomendado para touch */
  }
  
  /* Ajuste básico de tipografia para mobile */
  @media (max-width: 768px) {
    html {
      font-size: 14px;
    }
    
    h1 { font-size: 1.8rem; }
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.3rem; }
  }
